{{define "index"}}
{{template "header" .}}
{{template "topnavbar" .}}
{{template "sidenavbar" .}}
    <main id="mainContent">
      <article>
        <section>
          <h1>About TL;DR</h1>
          <p class="split-article-header">Authored by Ng Jian Zhen <span>12, December 2018</span></p>
          <hr/>
        </section>
        <section>
      		<h2>Background</h2>
              <p>Hobby</p>
      		<h2>Purpose</h2>
      		<p>Fame, fortune, money</p>
        </section>
      </article>
    </main>
{{template "footer" .}}
{{end}}
