{{define "index"}}
{{template "header" .}}
{{template "topnavbar" .}}
{{template "sidenavbar" .}}
    <main id="mainContent">
      <article>
        <section>
          <h1>Welcome to TL;DR</h1>
          <p class="split-article-header">Authored by Ng Jian Zhen <span>9, December 2018</span></p>
          <hr/>
        </section>
        <section>
          <p>This is a test, hello world I guess...</p>
        </section>
      </article>
    </main>
{{template "footer" .}}
{{end}}
