{{define "header"}}
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./css/main.css" >
    <link rel="stylesheet" href="./css/mainContent.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Montserrat'>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Ng Jian Zhen, TLDR">
    <meta name="description" content="Short random reviews">
    <meta name="author" content="Ng Jian Zhen">
    <base href="./">
    <title>Welcome to TLDR WIP website!</title>
  </head>
  <body>
    <header id="mainheader">
      <div id="mainTitle">Too Long; Didn't Read</div>
      <div id="mainTitleDesc">Summarizing the summary.</div>
    </header>    
{{end}}
